{% extends 'base.html.twig' %}

{% block title %}Liste des tâches{% endblock %}

{% block body %}
    <h1>Liste des tâches</h1>

    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Date d'échéance</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.dueDate|date('Y-m-d') }}</td>
                    <td>{{ task.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_task_new') }}">Créer une nouvelle tâche</a>
{% endblock %}
